<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>学生主页</title>
<link href="/css/student/StudentCourseHomePage.css"
	rel="stylesheet" type="text/css" />

</head>
<body>
	<div class="top">
		<div class="font">课堂管理系统</div>
		<div class="icon">
			<a href="/StudentCourseHome"><img src="/img/home.png">首页</a>
			<a href="###"><img src="/img/help.png">帮助</a> 
			<a href="/AccountLoginPage"><img src="/img/exit.png">退出</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="body">
		<div class="navigation">
			<div class="title">导航</div>
			<div class="line"></div>
			<div class="courseIntroduction">
				<a class="guidefont" href="/StudentHomePage">基本信息</a>
				<a class="guidefont" href="/StudentCourseHome">课程信息</a>
				<a class="guidefont" href="/StudentChooseCoursePage">选择课程</a>
			</div>
		</div>
		<div class="content">
			<div class="title">课程信息</div>
			<hr class="line" />
			<div id="content">

			</div>
		</div>
		<div class="clear"></div>
	</div>

	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/student/StudentCourseHome.js"></script>
	<script src="/js/jwt.js" type="text/javascript"></script>
</body>
</html>