<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xmu.crms.mapper.TopicMapper">

    <select id="getTopicByTopicId" resultType="xmu.crms.entity.Topic">
        SELECT
        id,
        name,
        description,
        group_number_limit,
        group_student_limit,
        seminar_id 
        FROM topic
        WHERE id= #{topicId};
    </select>
</mapper>

 