<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xmu.crms.mapper.TopicMapper">
	
    <select id="getTopicByTopicId" resultMap="topicResultMap">
        SELECT
        id,
        name,
        description,
        group_number_limit,
        group_student_limit
        FROM topic
        WHERE id= #{topicId};
    </select>
    
    <update id="updateTopicByTopicId"  parameterType="xmu.crms.entity.Topic">
       UPDATE  topic
       SET
        name = #{topic.name},
        description = #{topic.description},
        group_number_limit =#{topic.groupNumberLimit},
        group_student_limit =#{topic.groupStudentLimit}
 		WHERE id= #{topicId};
    </update>
    
    <delete id="deleteTopicByTopicId"  parameterType="xmu.crms.entity.Topic">
       DELETE FROM topic
 	   WHERE id= #{topicId};
    </delete>
    
    <select id="listTopicBySeminarId" resultType="xmu.crms.entity.Topic">
        SELECT
        id,
        name,
        description,
        group_number_limit,
        group_student_limit
        FROM topic
        WHERE seminar_id= #{seminarId};
    </select>
    
     <insert id="insertTopicBySeminarId" parameterType="xmu.crms.entity.Topic" useGeneratedKeys="true" keyProperty="topic.id">
       INSERT INTO topic(
        id,
        serial,
        name,
        description,
        group_number_limit,
        group_student_limit,
        seminar_id
        )
 	  	VALUES(
 	  	#{topic.id},
 	  	#{topic.serial},
 	  	#{topic.name},
 	  	#{topic.description},
 	  	#{topic.groupNumberLimit},
 	  	#{topic.groupStudentLimit},
 	  	#{seminarId}
 	  	)
 	   ;
    </insert>
    
     <delete id="deleteSeminarGroupTopicById">
       DELETE FROM seminar_group_topic
 	   WHERE topic_id= #{topicId}
 	   AND seminar_group_id=#{groupId};
    </delete>
    
     <delete id="deleteSeminarGroupTopicByTopicId">
       DELETE FROM seminar_group_topic
 	   WHERE topic_id= #{topicId};
    </delete>
  
    <select id="getSeminarGroupTopicById" resultMap="seminarGroupTopicResultMap">
	SELECT
	id,
	topic_id,
	seminar_group_id,
	presentation_grade
	FROM seminar_group_topic
	WHERE topic_id= #{seminarGroupTopic.topic.id}
    AND seminar_group_id=#{seminarGroupTopic.seminarGroup.id};
	</select>    
   <select id="getSeminarGroupTopiclistByGroupId"  resultMap="seminarGroupTopicResultMap">
    SELECT  
    id,
    topic_id,
    seminar_group_id,
    presentation_grade
    From seminar_group_topic
    WHERE seminar_group_id=#{groupId}
    </select>
      <resultMap id="seminarGroupTopicResultMap" type="xmu.crms.entity.SeminarGroupTopic">
        <id property="id" column="id"/>
        <result property="presentationGrade" column="presentation_grade"/>
        <association property="topic"  column="topic_id" select="xmu.crms.mapper.UtilityMapper.selectTopic"/>
        <association property="seminarGroup" column="seminar_group_id" select="xmu.crms.mapper.UtilityMapper.selectSeminarGroup"/>
    </resultMap>    
    <resultMap id="topicResultMap" type="xmu.crms.entity.Topic">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="groupNumberLimit" column="group_number_limit"/>
        <result property="groupStudentLimit" column="group_student_limit"/>
        <association property="seminar" column="seminar_id" select="xmu.crms.mapper.UtilityMapper.selectSeminar"/>
    </resultMap>
</mapper>

 