<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="xmu.crms.mapper.UserMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <select id="getUserByUserIdBigInteger" resultMap="userResultMap" >
    SELECT
    id,
    phone,
    wechat_id,
    openid,
    avatar,
    password,
    name,
    school_id,
    gender,
    type,
    number,
    education,
    title,
    email
    FROM user_info
    WHERE id=#{userId};
    </select>
    <resultMap id="userResultMap" type="xmu.crms.entity.User">
        <id property="id" column="id"/>
        <result property="phone" column="phone"/>
        <result property="wechatId" column="wechat_id"/>
        <result property="openid" column="openid"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="type" column="type"/>
        <result property="number" column="number"/>
        <result property="education" column="education"/>
        <result property="title" column="title"/>
        <result property="email" column="email"/>
       <association property="school" column="school_id" select="selectSchool"/>
    </resultMap>
     <insert id="insertAttendanceById" parameterType="xmu.crms.entity.User" keyProperty="userinfo.id" useGeneratedKeys="true">
    INSERT INTO attendance
    (class_id,seminar_id,student_id)
    VALUES(#{classId},#{seminarId},#{userId})
    </insert>
    <select id="getIdByInfo" resultType="BigInteger">
    SELECT id
    FROM attendance
    WHERE class_id=#{classId} AND seminar_id=#{seminarId} AND student_id=#{userId};
    </select>
    <select id="listAbsenceStudent" resultMap="userResultMap">
    SELECT
    id,
    phone,
    wechat_id,
    openid,
    avatar,
    password,
    name,
    school_id,
    gender,
    type,
    number,
    education,
    title,
    email
    FROM user_info
    WHERE id IN
    (SELECT student_id FROM attendance WHERE class_id=#{classId} AND seminar_id=#{seminarId} AND attendance_status=2);
    </select>
    
    <select id="listAttendanceById" resultMap="userResultMap">
     SELECT
    id,
    phone,
    wechat_id,
    openid,
    avatar,
    password,
    name,
    school_id,
    gender,
    type,
    number,
    education,
    title,
    email
    FROM user_info
    WHERE id IN
    (SELECT student_id FROM attendance WHERE class_id=#{classId} AND seminar_id=#{seminarId});
    </select>
   <select id="listCourseByTeacherName" resultMap="courseResultMap">
    SELECT
    id,
    name,
    start_date,
    end_date,
    teacher_id,
    description,
    report_percentage,
    presentation_percentage,
    five_point_percentage,
    three_point_percentage
    FROM course
    Where teacher_id in(SELECT id FROM user_info WHERE name=#{userName}AND type=1);
    </select>
    <resultMap id="courseResultMap" type="xmu.crms.entity.Course">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="description" column="description"/>
        <result property="reportPercentage" column="report_percentage"/>
        <result property="presentationPercentage" column="presentation_percentage"/>
        <result property="fivePointPercentage" column="five_point_percentage"/>
        <result property="fourPointPercentage" column="four_point_percentage"/>
        <result property="threePointPercentage" column="three_point_percentage"/>
        <association property="teacher" column="teacher_id" select="selectUser"/>
    </resultMap>
     <resultMap id="schoolResultMap" type="xmu.crms.entity.School">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
    </resultMap>
       <select id="listLateStudent" resultMap="userResultMap">
    SELECT
    id,
    phone,
    wechat_id,
    openid,
    avatar,
    password,
    name,
    school_id,
    gender,
    type,
    number,
    education,
    title,
    email
    FROM user_info
    WHERE id IN
    (SELECT student_id FROM attendance WHERE class_id=#{classId} AND seminar_id=#{seminarId} AND attendance_status=1);
    </select>
<select id="listPresentStudent" resultMap="userResultMap">
    SELECT
    id,
    phone,
    wechat_id,
    openid,
    avatar,
    password,
    name,
    school_id,
    gender,
    type,
    number,
    education,
    title,
    email
    FROM user_info
    WHERE id IN
    (SELECT student_id FROM attendance WHERE class_id=#{classId}
     AND seminar_id=#{seminarId} AND attendance_status=0);
    </select>
    <select id="listUserByClassId" resultMap="userResultMap">
    SELECT
    id,
    phone,
    wechat_id,
    openid,
    avatar,
    password,
    name,
    school_id,
    gender,
    type,
    number,
    education,
    title,
    email
    FROM user_info
    WHERE id IN(SELECT student_id from attendance WHERE class_id=#{classId}) AND name LIKE #{nameBeginWith} AND number LIKE #{numBeginWith};
    </select>
    <select id="listUserByUserName" resultMap="userResultMap">
    SELECT
    id,
    phone,
    wechat_id,
    openid,
    avatar,
    password,
    name,
    school_id,
    gender,
    type,
    number,
    education,
    title,
    email
    FROM user_info
    WHERE name=#{userName};
    </select>
    <select id="listUserIdByUserName" resultType="BigInteger">
    SELECT
    id
    FROM user_info
    WHERE name=#{userName};
    </select>
    <update id="updateUserByUserId" parameterType="xmu.crms.entity.User">
    UPDATE user_info
    SET
    phone=#{user.phone},
    wechat_id=#{user.wechatId},
    openid=#{user.openid},
    avatar=#{user.avatar},
    password=#{user.password},
    name=#{user.name},
    school_id=#{user.school.id},
    gender=#{user.gender},
    type=#{user.type},
    number=#{user.number},
    education=#{user.education},
    title=#{user.title},
    email=#{user.email}
    WHERE id=#{userId};
    
    </update>
    <select id="getLongitude" resultType="decimal">
    SELECT longitude
    FROM location
    WHERE class_id=#{classId} AND seminar_id=#{seminarId};
    </select>
     <select id="getLatitude" resultType="decimal">
    SELECT latitude
    FROM location
    WHERE class_id=#{classId} AND seminar_id=#{seminarId};
    </select>
     <select id="selectUser"  resultMap="userResultMap">
        SELECT  * From user_info WHERE id=#{id}
    </select>

    <select id="selectSchool" resultMap="schoolResultMap">
        SELECT  * From  school WHERE id=#{id}
    </select>
</mapper>